.banner {
display: flex;
margin: 0 40px 40px 80px;
}

.img-banner {
width: 1240px;
height: 187px;
margin: 0 -400px 0 -40px;
border-radius: 25px;
object-fit: cover;
}

.title-banner {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 30px;
display: flex;
color: #FFFFFF;
}

