
.containers {
    display: flex;
    flex-wrap: wrap;
    background: #F7F7F7;
    border-radius: 25px;
    margin: 35px 100px;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 40px;

    .cards {
        
        a {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;

            img {
                display: flex;
                margin: 20px;
                height: 340px;
                width: 340px;
                border-radius: 7px;
                object-fit: cover;
                z-index: 5;
            }

            p {
                display: flex;
                flex-wrap: wrap;
                position: absolute;
                color: white;
                z-index: 10;
                padding: 0 20px 20px 40px;
                margin-right: 130px;
            }

    }

    }

}