.section {
  margin: 40px 200px 40px 200px;
    @media only screen and (max-width: 768px) {
      margin: 25px 5px;
    }
}

.collapse {
  color: white;
  border-radius: 5px;
  margin: 10px 10px 30px 10px;
  background-color: #ff6060;

  .collapseTitre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    margin: 0px 10px;
  }

  .faAngleUp {
    transition: all 0.3s ease-in-out;
    padding: 10px;
    font-size: 25px;
  }

  .faAngleDown {
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
    padding: 10px;
    font-size: 25px;
  }

  .collapseDescription {
    background: #f7f7f7;
    color: #ff6060;
    padding: 20px;
    margin: 0 -10px;
    cursor: pointer;
  }

  .collapseNoDescription {
    visibility: hidden;
    height: 0;
      p {
    margin: 0px;
    }
  }
}
