.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 100px 0 100px;

    .kasa-logo {
        width: 60%;
    }
    
    ul {
        display: flex;
        padding: 10 px;

        a {
            margin: 0px 0px -50px 35px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            color: #FF6060;
            list-style-type: none;
            text-decoration: none;
            }
            
            a:hover {
            text-decoration-line: underline; 
            }

    }
    
    

    }


