.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 35px 40px 40px;
    }

.kasa-logo {
    width: 120px;
}

header ul {
    display: flex;
    padding: 10 px;
}


a {
margin: -10px 15px -10px 15px;
display: flex;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
color: #FF6060;
list-style-type: none;
}

a:hover {
text-decoration-line: underline;
    
}
