.notfound {
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 290px;
    color: #ff6060;
    margin-bottom: -20px;
    @media only screen and (max-width: 768px) {
      font-size: 90px;
      margin-top: 150px;
    }
  }

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    display: flex;
    align-items: center;
    color: #ff6060;
    @media only screen and (max-width: 768px) {
      font-size: 20px;
      width: 68%;
      margin: 20px 60px;
    }
  }

  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-decoration-line: underline;
    color: #ff6060;
    margin: 100px;
    @media only screen and (max-width: 768px) {
      margin: 0;
      font-size: 15px;
      padding: 100px 0 200px 0;
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
